<div >
  <div class="ui form">
    <div class="four fields">
      <div class="field">
        <label>呼叫时间</label>
        <input type="text" class="datarangeInput" name="daterange" placeholder="选择时间" data-from="<%= from %>" data-to="<%= to %>">
      </div>
      <div class="field">
        <label>质检状态</label>
        <select name="manual_inspection_status" class="ui dropdown" data-value="<%= manual_inspection_status %>">
          <option value="all">全部</option>
          <option value="0">未质检</option>
          <option value="1">已质检</option>
        </select>
      </div>
      <div class="field">
        <label>复议状态</label>
        <select name="qaStatus" class="ui dropdown" data-value="<%= qaStatus %>">
          <option value="all">全部</option>
          <option value="1">已申请</option>
          <option value="2">已评审</option>
          <option value="3">已驳回</option>
        </select>
      </div>
      <div class="field">
        <label>&nbsp;</label>
        <div class="ui  blue submit button" onclick="search()">
          <i class="icon search"></i>
          搜索
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui grey segment tablebox" style="box-shadow:0 0 0 0;">
  <table class='ui small very basic table taskTable'>
    <thead>
      <tr>
        <th>序号</th>
        <th>质检状态</th>
        <th>录音流水号</th>
        <th>来电号码</th>
        <th>呼叫时间</th>
        <th>所属业务</th>
        <th>客户名称</th>
        <th>话后总结</th>
        <th>满意度评价</th>
        <th>通话总时长</th>
        <th>静音比</th>
        <th>用户语速</th>
        <th>坐席语速</th>
        <th>静音总时长</th>
        <th>复议状态</th>

        <th style="width:80px">操作</th>
      </tr>
    </thead>
    <tbody>
      <% if (rows && rows.length > 0) { %>
        <%
          for (var i in rows) {
            var row = rows[i];
        %>
          <tr>
            <td data-id="<%=row['_id']%>">
              <%= parseInt(offset)+parseInt(i)+1%>
            </td>
            <td>
              <%
                if(row['audio_status'].manual_inspection_status ===0) {
                  inspectionStatus = '未质检'
              %>
                <div class="ui tiny red label"><%= inspectionStatus %></div>
              <%
                } else {
                  inspectionStatus = '已质检'
              %>
                <div class="ui tiny blue label"><%= inspectionStatus %></div>
              <% } %>
            </td>
            <td>
              <%= row['seq']%>
            </td>
            <td>
              <%=row['customer']['mobile'] %>
            </td>
            <td>
              <%= common.format_date(row['call_time'], 'yyyy-MM-dd hh:mm:ss') %>
            </td>
            <td>
              <%= common.get_sys_name(row.system, systemList) %>
            </td>
            <td>
              <%= row['customer']['name']%>
            </td>
            <td>
              <%= row['end_comment'] %>
            </td>
            <td>
              <%= row['satisfy_comment'] %>
            </td>
            <td>
              <%= common.secondToTime(row['call_duration']/1000) %>
            </td>
            <td>
              <%= row['mute_ratio'] %>
            </td>
            <td>
              <%= row['customer_speed'] %>
            </td>
            <td>
              <%= row['agent_speed'] %>
            </td>
            <td>
              <%= row['mute_duration']/1000 %>秒
            </td>
            <td>
              <%= common.getRecheckStatus(row['recheck_status']) %>
            </td>
            <td>
              <a href="javascript:;" onclick="showAudio('<%= row._id %>')">播放</a>&nbsp;&nbsp;
              <%
                if(row['audio_status'].manual_inspection_status ===1) {
              %>
              <a href="javascript:;" onclick="viewQaResult('<%= row._id %>')">查看结果</a>&nbsp;&nbsp;
              <% } %>
              <% if(row['recheck_status'] === 1){ %>
                  <a href="javascript:;" onclick="updateStatus('<%= row._id %>', 0)">取消复议</a>&nbsp;&nbsp;
              <% }else if(row['recheck_status'] === 0&&inspectionStatus === '已质检') { %>
                  <a href="javascript:;" onclick="updateStatus('<%= row._id %>', 1)">申请复议</a>&nbsp;&nbsp;
              <% } %>

            </td>
          </tr>
        <% } %>
      <% } else { %>
        <tr>
          <td colspan="18" style="text-align:center;">暂无数据</td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
<div class="ui hidden divider"></div>
<div class="ui modal" id="reviewReason" style="width:400px;margin-left:-200px;">
  <i class="close icon"></i>
  <div class="tiny header">
    复议理由描述
  </div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label class="required_input">复议理由</label>
        <div class="ui left input">
          <input name="review_reason" type="text" onKeyup="spec(this);checkLength(this);" />
        </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui black deny button">取消</div>
    <div class="ui positive submit right labeled icon button">确定<i class="checkmark icon"></i></div>
  </div>
</div>
<%- common.paging("/inspections/sit/"+sit_number, "from="+from+"&to="+to+"&manual_inspection_status="+manual_inspection_status+"&qa_status="+qaStatus, totalPage, offset, limit, 5) %>
<% include inspection_result_modal %>
<% include audio_play_modal %>
<script>
var from, to;
$(function() {
  activeUrl();
  //init search query
  initSearchQuery()

  //初始化下拉框
  $('.ui.dropdown').dropdown();

  //初始化日期
  initDatePicker()
});

//搜索
function search() {
  var qaStatus = $('select[name="qaStatus').val()
  var instatus = $('select[name="manual_inspection_status').val()

  if($('.datarangeInput').val()!=="选择时间"){
    var dateRange = $('.datarangeInput').val().split('至');
    from = parseInt(moment(dateRange[0].trim()).valueOf());
    to = parseInt(moment(dateRange[1].trim()).valueOf());
  }

  location.href = encodeURI("?from=" + from + "&to=" + to + "&manual_inspection_status=" + instatus + "&qa_status=" + qaStatus + "&limit=" + <%= limit %>);
}

//初始化search query
function initSearchQuery() {
  $('select[name="qaStatus"]').val($('select[name="qaStatus"]').attr('data-value'))
  $('select[name="manual_inspection_status"]').val($('select[name="manual_inspection_status"]').attr('data-value'))

  from = $('input[name="daterange"]').attr('data-from')
  to = $('input[name="daterange"]').attr('data-to')
  from = from !== ''?Number(from):'';
  to = to!==''?Number(to):'';
  //设定input默认时间
  if (from !== '' && to !== '') {
    $('input[name="daterange"]').val(moment(from).format('YYYY-MM-DD HH:mm') + " 至 " + moment(to).format('YYYY-MM-DD HH:mm'));
  } else {
    $('input[name="daterange"]').val('选择时间');
  }
}
//更新复议状态
function updateStatus(id, status) {
  if(status === 1){
    $('#reviewReason').modal({
        'autofocus': false,
        onApprove: function() {
          var reason = $("#reviewReason input[name='review_reason']").val();
          if(reason === ""){
            swal("请填写复议理由", "", "warning");
            return false;
          }
          swal({
              title: "确认复议申请？",
              text: "",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "确定",
              cancelButtonText: "取消",
              closeOnConfirm: false,
              closeOnCancel: true
            },
            function(isConfirm) {
              if (isConfirm) {
                $.ajax({
                  type: "put",
                  url: "/inspections/sit/" + id,
                  data: {recheck_status: status,recheck_reason:reason},
                  success: function(data) {
                    swal("操作成功", "", "success");
                    window.location.reload()
                  },
                  error: function() {
                    swal("失败，请重试", "", "error");
                  }
                });
              }
            });
        }
      }).modal('show');
  } else if(status === 0) {
    swal({
        title: "确认取消复议申请？",
        text: "",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        closeOnConfirm: false,
        closeOnCancel: true
      },
      function(isConfirm) {
        if (isConfirm) {
          $.ajax({
            type: "put",
            url: "/inspections/sit/" + id,
            data: {recheck_status: status},
            success: function(data) {
              swal("操作成功", "", "success");
              window.location.reload()
            },
            error: function() {
              swal("失败，请重试", "", "error");
            }
          });
        }
      });
  }
}
</script>
