<style>
  #edit_manual {
    width: 500px;
    margin-left: -250px;
  }

  #edit_manual .dropdown.selection {
    width: 100%  ;
  }

  #plusbox,#reasonbox .removeinput{
    float: right;
    width: 33px;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
  }

  #plusbox{
    height: 25px;
    line-height: 1;
  }

  #reasonbox .removebox{
    margin-bottom: 10px;
  }
</style>

<div class="ui form">
  <div class="four fields">
    <div class="field">
      <label>人工质检规则分类</label>
      <input type="text" id="name" placeholder="" value="<%=name%>">
    </div>
    <div class="field">
      <label>&nbsp;</label>
      <div class="ui  blue submit button" onclick="search()">
        <i class="icon search"></i> 搜索
      </div>
    </div>
    <div class="field">
      <label>&nbsp;</label>
    </div>
    <div class="field">
      <label>&nbsp;</label>
      <div class="ui  blue submit right floated button" onclick="createManualType()">
        <i class="icon write"></i> 添加人工质检规则分类
      </div>
    </div>
  </div>
</div>

<div class="ui grey segment tablebox" style="box-shadow:0 0 0 0;">
  <table class="ui small very basic table">
    <thead>
      <tr>
        <th>序号</th>
        <th>状态</th>
        <th>名称</th>
        <th>常用扣分原因</th>
        <th>操作人</th>
        <th width="200">创建时间</th>
        <th width="100"></th>
      </tr>
    </thead>
    <tbody>
      <%
        if (conts && conts.length > 0) {
        %>
        <%
          for (var i in conts) {
            var cont = conts[i];
        %>
          <tr>
            <td>
              <%=(Number(offset) + Number(i) + 1)%>
            </td>
            <td>
              <%=cont['status']?"启用":"禁用"%>
            </td>
            <td>
              <%=cont['name']%>
            </td>
            <td>
              <%-cont['content'].join('<br>')%>
            </td>
            <td>
              <%=cont['username']%>
            </td>
            <td>
              <%=common.format_date(cont['created'], 'yyyy-MM-dd hh:mm:ss')%>
            </td>
            <td style="text-align:right;">
              <a href="javascript:;" onclick="editManualType('<%=cont['_id']%>','<%=cont['name']%>','<%=cont['content']%>','<%=cont['status']%>')">编辑</a> &nbsp;&nbsp;
              <a href="javascript:;" onclick="deleteManualType('<%=cont['_id']%>')">删除</a>
            </td>
          </tr>
          <%
      }
      %>

            <% } else { %>
              <tr>
                <td colspan="7" style="text-align:center;">暂无数据</td>
              </tr>
              <% } %>
    </tbody>
  </table>
</div>

<%-common.paging("/rules/manual/type", "name="+name, totalPage, offset, limit, 5)%>

<div class="ui modal" id="edit_manual">
  <i class="close icon"></i>
  <div class="tiny header">
    编辑人工质检规则分类
  </div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label class="required_input">状态</label>
        <div class="ui left input">
          <select name="folder" class="ui dropdown" id="statusSelect">
            <option value="1">启用</option>
            <option value="0">禁用</option>
          </select>
        </div>
      </div>
      <div class="field">
        <label class="required_input">名称</label>
        <div class="ui left input">
          <input type="text" onKeyup="spec(this);checkLength(this);" id="manual_name">
        </div>
      </div>
      <div class="field" id="reasonbox">
        <label class="required_input">常用扣分原因 <i class="large green plus icon" id="plusbox"></i></label>
        <div class="ui left input removebox">
          <input type="text" name="manual_cont">
          <i class="large red remove icon removeinput"></i>
        </div>
      </div>
    </form>
    <div class="ui hidden divider"></div>
  </div>
  <div class="actions">
    <div class="ui black deny button">取消</div>
    <div class="ui positive right labeled icon button" onClick="saveManualType()">保存<i class="checkmark icon"></i></div>
  </div>
</div>

<script>
var Val = "";
  $(function(){
    activeUrl();
    $('.dropdown').dropdown();

    $("#manual_name").blur(function(){
      var _name = $(this);
      if(_name.val() === ""){
        return false;
      }
      if($(this).parents("#edit_manual").attr("data-id") !== "new" && $(this).val() === Val){
        return false;
      }else{
        $.ajax({
          type:'get',
          url:'/rules/manual/type/validate/'+_name.val(),
          success:function(data){
            if(data.status !== 20000){
              _name.val("");
              swal("名称已存在，请更改", "", "warning");
            }
          }
        })
      }
    });
    $("#plusbox").on("click",function(){
      var _cont = $("#reasonbox .removebox:eq(0)").clone();
      _cont.children("input[name='manual_cont']").val("");
      $("#reasonbox").append(_cont);
    })

    $("#reasonbox").delegate(".removeinput","click",function(){
      if($(".removeinput").length !== 1){
        $(this).parents(".removebox").remove();
      }else{
        $("#reasonbox input[name='manual_cont']").val("");
      }
    })
  })

  function search(){
    location.href=encodeURI("?name="+$("#name").val()+"&limit=<%=limit%>");
  }

  function editManualType(order,name, cont, fol) {
    Val = name;
    $('#edit_manual').attr("data-id", order);
    $('#edit_manual .header').text("修改人工质检规则分类");
    $("#manual_name").val(name);
    cont = cont.split(",");
    for(var i = 0;i < cont.length;i++){
      var contin = $("#reasonbox .removebox:eq(0)").clone();
      contin.children("input[name='manual_cont']").val(cont[i]);
      $("#reasonbox").append(contin);
    }
    if(cont.length !== 0){
      $("#reasonbox .removebox:eq(0)").remove();
    }
    $('#statusSelect').dropdown("set selected",fol);
    $('#edit_manual').modal({'autofocus':false,'closable':false,onApprove:function(){return false}}).modal('show');
  };

  function createManualType() {
    $('#edit_manual').attr("data-id", "new");
    $('#edit_manual .header').text("添加人工质检规则分类");
    $("#manual_name").val("");
    var manualList = $("#reasonbox .removebox");
    if(manualList.length !== 1){
      manualList.splice(-(manualList.length-1));
      $("#reasonbox .removebox").remove();
      $("#reasonbox").append(manualList);
    }
    $("#edit_manual input[name='manual_cont']").val("");
    $('#statusSelect').dropdown("set selected",$('#statusSelect option:first-of-type').val());
    $('#edit_manual').modal({'autofocus':false,'closable':false,onApprove:function(){return false}}).modal('show');
  };

  function saveManualType() {
    var _order = $('#edit_manual').attr("data-id");
    var _name = $("#manual_name").val();
    var _cont = [],flag = 0;
    $("#edit_manual input[name='manual_cont']").each(function(){
      if($(this).val() === ""){
        flag = 1;
      }else{
        _cont.push($(this).val());
      }
    })
    var _des = $("#edit_manual input[name='manual_cont']").val();
    var _status = $('#statusSelect').val();

    if (_name === "") {
      swal("请填写名称!", "", "warning");
      return false;
    }

    if (_cont.length === 0 || flag === 1) {
      swal("请填写常用扣分原因!", "", "warning");
      return false;
    }

    var action = {};
    _order === "new" ? action = {title: "添加",type: "post",order: ""} : action = {title: "修改",type: "put",order: "/" + _order};
    var params = {
      name: _name,
      content: _cont,
      status: _status
    };

    swal({
        title: "确认" + action.title + "人工质检规则分类？",
        text: "",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: action.title,
        cancelButtonText: "取消",
        closeOnConfirm: false,
        closeOnCancel: true
      },
      function(isConfirm) {
        if (isConfirm) {
          $.ajax({
            type: action.type,
            url: "/rules/manual/type" + action.order,
            dataType: 'json',
            contentType : "application/json",
            data:JSON.stringify(params),
            success: function(data) {
              swal({
                  title: action.title + "成功",
                  text: "",
                  type: "success",
                  confirmButtonText: "确定",
                },
                function() {
                  setTimeout(function() {
                    location.reload();
                  }, 330);
                });
            },
            error: function() {
              swal(action.title + "失败，请重试", "", "error");
            }
          });
      }
    });
  };

  function deleteManualType(id) {
    swal({
        title: "确认删除此人工质检规则分类？",
        text: "",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "删除",
        cancelButtonText: "取消",
        closeOnConfirm: false,
        closeOnCancel: true
      },
      function(isConfirm) {
        if (isConfirm) {
          $.ajax({
            type: "delete",
            url: "/rules/manual/type/" + id,
            success: function(data) {
              swal({
                  title: "删除成功",
                  text: "",
                  type: "success",
                  confirmButtonText: "确定",
                },
                function() {
                  setTimeout(function() {
                    location.reload();
                  }, 330);
                });
            },
            error: function() {
              swal("删除失败，请重试", "", "error");
            }
          });
        }
      });
  };
</script>
