<style>
  #edit_threshold {
    width: 500px;
    margin-left: -250px;
  }

  #edit_threshold .dropdown.selection {
    width: 100%;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }
  input[type="number"]{
      -moz-appearance: textfield;
  }
</style>

<div class="ui form">
  <div class="four fields">
    <div class="field">
      <label>阈值名称</label>
      <input type="text" id="name" placeholder="" value="<%=name%>">
    </div>
    <div class="field">
      <label>&nbsp;</label>
      <div class="ui  blue submit button" onclick="search()">
        <i class="icon search"></i> 搜索
      </div>
    </div>
    <div class="field">
      <label>&nbsp;</label>
    </div>
    <div class="field">
      <label>&nbsp;</label>
      <div class="ui  blue submit right floated button" onclick="createThreshold()">
        <i class="icon write"></i> 添加阈值
      </div>
    </div>
  </div>
</div>

<div class="ui grey segment tablebox" style="box-shadow:0 0 0 0;">
  <table class="ui small very basic table">
    <thead>
      <tr>
        <th>序号</th>
        <th>阈值名称</th>
        <th>阈值取值</th>
        <th>所属业务</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>备注</th>
        <th width="100"></th>
      </tr>
    </thead>
    <tbody>
      <%
        if (conts && conts.length > 0) {
        %>
        <%
          for (var i in conts) {
            var cont = conts[i];
        %>
          <tr>
            <td>
              <%=(Number(offset) + Number(i) + 1)%>
            </td>
            <td>
              <%=cont['name']%>
            </td>
            <td>
              <%=cont['value']%>
            </td>
            <td><%= common.get_sys_name(cont.system, systems) %></td>
            <td>
              <%=cont['status']==0?"禁用":"启用"%>
            </td>
            <td>
              <%=common.format_date(cont['created'], 'yyyy-MM-dd hh:mm:ss')%>
            </td>
            <td>
              <%=cont['remarks']%>
            </td>
            <td style="text-align:right;">
              <a href="javascript:;" onclick="editThreshold('<%=cont['_id']%>','<%=cont['name']%>','<%=cont['value']%>','<%=cont['system']%>','<%=cont['remarks']%>','<%=cont['status']%>')">编辑</a> &nbsp;&nbsp;
              <a href="javascript:;" onclick="deleteThreshold('<%=cont['_id']%>')">删除</a>
            </td>
          </tr>
          <%
      }
      %>

            <% } else { %>
              <tr>
                <td colspan="8" style="text-align:center;">暂无数据</td>
              </tr>
              <% } %>
    </tbody>
  </table>
</div>

<%-common.paging("/rules/thresholds", "name="+name, totalPage, offset, limit, 5)%>

<div class="ui modal" id="edit_threshold">
  <i class="close icon"></i>
  <div class="tiny header">
    编辑阈值
  </div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label class="required_input">名称</label>
        <div class="ui left input">
          <select name="folder" class="ui dropdown" id="statusSelect1">
            <%
              for (var i in thresholds) {
                var _threshold = thresholds[i];
            %>
            <option value="<%=_threshold['code']%>"><%=_threshold['value']%></option>
                <%
            }
            %>
          </select>
        </div>
      </div>
      <div class="field">
        <label class="required_input">取值</label>
        <div class="ui left input">
          <input type="number" id="threshold_thre">
        </div>
      </div>
      <div class="field">
        <label class="required_input">所属业务</label>
        <div class="ui left input">
          <select name="folder" class="ui dropdown" id="statusSelect2">
            <option value="all">全部业务</option>
            <%
              for (var i in systems) {
                var _threshold = systems[i];
            %>
            <option value="<%=_threshold['_id']%>"><%=_threshold['name']%></option>
                <%
            }
            %>
          </select>
        </div>
      </div>
      <div class="field">
        <label class="required_input">状态</label>
        <div class="ui left input">
          <select name="folder" class="ui dropdown" id="statusSelect3">
            <option value="1">启用</option>
            <option value="0">禁用</option>
          </select>
        </div>
      </div>
      <div class="field">
        <label>备注</label>
        <div class="ui left input">
          <input type="text" onKeyup="spec(this);checkLength(this);" id="threshold_des" >
        </div>
      </div>
    </form>
    <div class="ui hidden divider"></div>
  </div>
  <div class="actions">
    <div class="ui black deny button">取消</div>
    <div class="ui positive submit right labeled icon button" onClick="saveThreshold()">保存<i class="checkmark icon"></i></div>
  </div>
</div>

<script>
  $(function(){
    activeUrl();
  })
  var Val1 = '',Val2 = '';
  $('#statusSelect1').dropdown();
  $('#statusSelect2').dropdown();
  $('#statusSelect3').dropdown();

  $("#threshold_thre").blur(function(){
    var _val = $(this).val();
    if(_val > 10){
      $(this).val("");
      swal("值必须小于10", "", "warning");
      return false;
    }
  })

  function search(){
    location.href=encodeURI("?name="+$("#name").val()+"&limit=<%=limit%>");
  }

  function editThreshold(order, name, val, sys, des, sta) {
    Val1 = name;
    Val2 = sys;
    $('#edit_threshold').attr("data-id", order);
    $('#edit_threshold .header').text("修改阈值");
    $("#threshold_thre").val(val);
    $("#threshold_des").val(des);
    $('#statusSelect1').dropdown("set selected",name);
    $('#statusSelect2').dropdown("set selected",sys);
    $('#statusSelect3').dropdown("set selected",sta);
    $('#edit_threshold').modal({'autofocus':false,'closable':false,onApprove:function(){return false}}).modal('show');
  };

  function createThreshold() {
    Val1 = "";
    Val2 = "";
    $('#edit_threshold').attr("data-id", "new");
    $('#edit_threshold .header').text("添加阈值");
    $("#threshold_des").val("");
    $("#threshold_thre").val("");
    $('#statusSelect1').dropdown("set selected",$('#statusSelect1 option:first-of-type').val());
    $('#statusSelect2').dropdown("set selected",$('#statusSelect2 option:first-of-type').val());
    $('#statusSelect3').dropdown("set selected",$('#statusSelect3 option:first-of-type').val());
    $('#edit_threshold').modal({'autofocus':false,'closable':false,onApprove:function(){return false}}).modal('show');
  };

  function saveThreshold() {
    var _order = $('#edit_threshold').attr("data-id");
    var _name = $("#statusSelect1").val();
    var _thre = $("#threshold_thre").val();
    var _des = $("#threshold_des").val();
    var _sys = $('#statusSelect2').val();
    var _sta = $('#statusSelect3').val();

    if (_thre == "") {
      swal("请填写阈值取值!", "", "warning");
      return false;
    }

    if( _name !== Val1 ||  _sys !== Val2){
      $.ajax({
        type:'get',
        url:'/rules/thresholds/validate/'+_sys+'/'+ _name,
        success:function(data){
          if(data.status !== 20000){
            $("#statusSelect1").dropdown("clear");
            $("#statusSelect2").dropdown("clear");
            swal("所属业务下该阈值已存在，请更改", "", "warning");
            return false;
          }
        }
      })
    }

    var action = {};
    _order === "new" ? action = {title: "添加",type: "post",order: ""} : action = {title: "修改",type: "put",order: "/" + _order};
    var params = {
      code: _name,
      value: _thre,
      system: _sys,
      remarks: _des,
      status: _sta
    };

    swal({
        title: "确认" + action.title + "阈值？",
        text: "",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: action.title,
        cancelButtonText: "取消",
        closeOnConfirm: false,
        closeOnCancel: true
      },
      function(isConfirm) {
        if (isConfirm) {
          $.ajax({
              type: action.type,
              url: "/rules/thresholds" + action.order,
            data: params,
            success: function(data) {
              swal({
                  title: action.title + "成功",
                  text: "",
                  type: "success",
                  confirmButtonText: "确定",
                },
                function() {
                  setTimeout(function() {
                    location.reload();
                  }, 330);
                });
            },
            error: function() {
              swal(action.title + "失败，请重试", "", "error");
            }
          });
      }
    });
  };

  function deleteThreshold(id) {
    swal({
        title: "确认删除此阈值？",
        text: "",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "删除",
        cancelButtonText: "取消",
        closeOnConfirm: false,
        closeOnCancel: true
      },
      function(isConfirm) {
        if (isConfirm) {
          $.ajax({
            type: "delete",
            url: "/rules/thresholds/" + id,
            success: function(data) {
              swal({
                  title: "删除成功",
                  text: "",
                  type: "success",
                  confirmButtonText: "确定",
                },
                function() {
                  setTimeout(function() {
                    location.reload();
                  }, 330);
                });
            },
            error: function() {
              swal("删除失败，请重试", "", "error");
            }
          });
        }
      });
  };
</script>
